[user]
	name = Morten Brøns-Pedersen
	email = f@ntast.dk
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[alias]
	d = diff
	s = show
	f = fetch
	m = merge
	l = log
	p = push
	c = commit -m
	a = add
	st = status -sb
	ds = diff --staged
	co = checkout
	cb = checkout -b
	up = !git update
	cp = cherry-pick
	br = branch
	fa = fetch --all
	rb = rebase
	pr = pull --rebase
	gr = !git graph
	lg = log --stat --relative-date
	lgf = log --follow
	lgs = log --no-merges --pretty=\"format:%C(yellow)%h %C(blue)%an %C(green)%cr%C(reset) %s\"
	home = checkout master
	update = add -v -u
	graph = log --graph --oneline --all --decorate
	save = stash save --include-untracked
	pop = stash pop
	track = checkout --track
	undo = reset --hard
	untrack = rm --cached
	deletemerged = "!git branch --merged | egrep -v '^(\\*|\\s+(master|dev.*|wip-.*|.*-wip)$)' | xargs -rn1 git branch -d"
	dm = !git deletemerged
	export = !git-export
[color]
	ui = auto
